
:root{
  --color1-body: #5E7366;
  --color2-container: rgba(0,0,0,0.4) ;
  --text-color: lightgreen ;
}
*{
  box-sizing: border-box;
}

body{
  background-color: var(--color1-body);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  font-family: Arial;
  margin: 0;
  color: white;
}

.container{
  background-color: var(--color2-container);
  padding: 20px 40px;
  border-radius: 5px;
}

.container h1{
  text-align: center;
  margin-bottom: 50px;
}

.container a{
  text-decoration: none;
  color: var(--text-color);
}

.form-controls{
    margin: 20px 0 40px;
    position: relative;
    width: 300px;
}

.form-controls input{
  width: 100%;
  display: block;
  background: transparent;
  border: none;
  border-bottom: 2px solid white;
  color: white;
  font-size: 18px;
  
}


.form-controls input:focus, .form-controls input:valid{
  outline: none;
  border-bottom: 2px solid var(--text-color);
}

.btn{
  display: inline-block;
  background-color: var(--text-color);
  border: none;
  width: 100%;
  border-radius: 6px;
  cursor: pointer;
  padding: 15px;
  margin-top: 30px;
  font-family: inherit;
}
.btn:focus{
  outline: none;
}
.btn:active{
  transform: scale(0.98);
}

.form-controls label{
  position: absolute;
  top: -10px;
  left: 0px;
}
.text{
  margin-top: 30px;
}

.form-controls label span{
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55) ;
}
.form-controls input:focus + label span, .form-controls input:valid + label{
  
  transform: translateY(-15px);
  color: var(--text-color);
}

.myProgress{
  background-color: gray;
  position: relative;
  border-radius: 5px;
  width: 100%;
}

.myBar{
  background-color: green;
  width: 0%;
  height: 15px;
  max-width: 100%;
  border-radius: 5px;
}

.message{
  position: absolute;
  top: 0;
  left: 70px;
  font-size: 12px;
}